/* add css module styles here (optional) */

.root {
  position: fixed;
  height: 20px;
  background: linear-gradient(180deg, rgba(255,0,0,0) 0%, rgba(255,0,0,0.2) 65%, rgba(125,0,0,0.5) 100%);
  bottom: 0;
  transition: height .1s ease-out;
  width: 100%
}

.root:hover {
  height: 70%;
  background: white;
}

.side {
  width: 20%;
  /* display: inline-block; */
}

.main {
  /* display: inline-block; */
}

.collection {
}


.collection th {
  color: #235a81;
  border-right: 1px solid #fff;
  background: linear-gradient(#fff, #ccc);
}

.collection tr:nth-child(even) {
  background: #dfdfdf;
}

.collection td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.test {
  margin: 2em;
  padding: 0.5em;
  border: 2px solid #000;
  font-size: 2em;
  text-align: center;
}

.pendingIconTrue {
  padding-left: 2px;
  padding-right: 2px;
  color: red;
}

.pendingIconFalse {
  padding-left: 2px;
  padding-right: 2px;
  color: rgba(0,0,0,0.1);
}
